 <header>
        <h1>Etat de la Commande</h1>
      
        
    </header>
<main>
   
   <div class="Status"> 
        <h1>Etat de la commande:<span id="etatcommande"></span>
        </h1>
   </div>
   
</main>