<header>
    <h1>Mon Panier</h1>
</header>
<main>

    <div class="Panier">
        <div id="paniervide">

        </div>

        <ul id="ListeItems">

        </ul>

        <div id="div_total">total:<span id="total">0</span></div>
        <div class="Fermer">
            <div class="Retour_Menu"><a href="index.handlebars">Retour au menu</a></div>
            <button id="Soumettre"><a href="commandesoumise.handlebars">Soumettre</a></button>
            <button id="etat"><a href="commandesoumise.handlebars">Etat de la commande</a></button>
            <button id="Effacer">Effacer la commande</button>
        </div>
    </div>

</main>